.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	text-decoration: inherit;
}

#wrap > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li > a {
text-decoration: blink;
}


#footer {
	background-color: rgba(255, 255, 255, 1);
}

pre code {
	font-size: 0.8em;
}		